{% load cms_tags menu_tags sekizai_tags static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}This is my new project home page{% endblock title %}</title>

		<meta name="description" content="{% page_attribute 'meta_description' %}">
		<meta name="keywords" content="Premium HTML Template">
		<meta name="author" content="HTMLmate">

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css-include -->

		<!-- boorstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<!-- themify-icon.css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
		<!-- owl-carousel -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
		<!-- light-box -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
		<!-- video css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/video.min.css' %}">
		<!-- menu.css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
		<!-- style -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<!-- responsive.css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
		{% render_block "css" %}
	</head>

	<body>
		{% cms_toolbar %}
		<div id="preloader"></div>
		<!-- Start of nav bar
			============================================= -->
		<nav id="poppin-nav">
			<div id="nav-off"></div>
			<div id="header-logo-1" class="text-center">
				<a href="/"><img src="{% static 'img/logo/logo.png' %}" alt="img"></a>
			</div>
			<ul id="menu">
				{% show_menu 0 100 100 100 %}
			</ul>
		</nav>
		<div id="menu-overlay"></div>
		<!-- End of nav bar
			============================================= -->

		<!-- Start of header
			============================================= -->
		<header id="site-header" class="not-stuck">
			<div class="container">
				<div class="row">
					<div id="header-logo">
						<a href="/"><img src="{% static 'img/logo/logo.png' %}" alt="img"></a>
					</div>

					<div id="menu-burger" class="pull-right not-stuck">
						<div id="menu-bar">
							<span class="icon-bar top"></span>
							<span class="icon-bar middle"></span>
							<span class="icon-bar bottom"></span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End of header
			============================================= -->


		{% block content %}{% endblock content %}

		{% block footer %}{% endblock footer %}


		<!--  Js Library -->
		<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<!-- Include  for bootstrap -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Include isotope Js -->
		<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
		<!-- Include lightbox -->
		<script src="{% static 'js/lightbox.js' %}"></script>
		<!-- Include circle-effect.js -->
		<script src="{% static 'js/circle-effect.js' %}"></script>
		<!-- Include Video js -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Include Owl-carousel -->
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- Include Counter up -->
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/waypoints.min.js' %}"></script>

		<!-- Include script.js -->
		<script src="{% static 'js/script.js' %}"></script>

		{% render_block "js" %}
	</body>
</html>